.App {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  .App > * {
    width: 100%;
  }
  .App input {
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #ccc;
  }
  .App .progress-container {
    margin-top: 10px;
    border: 1px solid #cccc;
    border-radius: 5px;
    height: 10px;
    margin-left: 10px;
  }
  
  .App .progress-container .progress-bar {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    max-width: 100%;
  
  }
  h1 {
    font-size: 1.5rem;
  }