.global-filter-input {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

th span {
  margin-left: 8px;
}

th div {
  margin-top: 5px;
}

.selected-rows {
  margin-top: 20px;
}
