.taskcard__contanier {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px;
  display: flex;
 align-items: center;
 justify-content: space-between;
}
.taskcard__contanier button {
  margin: 14px  6px;
}
