.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.todo-list-container {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-form .input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.todo-form button {
  padding: 10px 20px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.todo button {
  margin-left: 5px;
  padding: 10px;
}



.todo input{
   padding: 10px;
}
.todo-edit-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.todo-edit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.todo-btnAll{
  display: flex;
  gap: 10px;
  flex-direction: row;
}
