.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.form input {
  padding: 10px;
  font-size: 1.2em;
  margin: 5px;
  width: 25%;
  background-color: whitesmoke;
}

.form-container {
  display: flex;
  width: 100%;
  background-color: bisque;
  padding: 5px;
  margin: 5px;
}

.btn {
  padding: 5px 15px;
  font-size: 0.9em;
  border: 1px solid lightcoral;
  background-color: pink;
  font-weight: 700;
  cursor: pointer;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  align-self: center;
  margin-top: 100px;
  width: 10%;
  display: flex;
  justify-content: center;

  padding: 10px 72px;
  border-radius: 5px;
}

.data {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: 10px;
  background-color: bisque;
}

.data-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
